<head>
  <title>table-bulk-demo</title>
</head>

<body>
  <h1>Welcome to the dynamic table/bulk action demo!</h1>
  {{>main}}
</body>

<template name="main">
  <div style="width: 50%; float: left;">
    {{> DynamicTable id="fistTable" table=(tableOptions "set1") class="table table-striped table-condensed" style="width: 100%"}}
  </div>
  <div style="width: 50%; float: left;">
    {{> DynamicTable id="secondTable" table=(tableOptions "set2") class="table table-striped table-condensed" style="width: 100%"}}
  </div>
</template>

<template name="tableCheckbox">
  {{> bulkActionCheckbox bulkActionCheckboxOptions}}
</template>
